<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= f.label :profile_image %><br />
    <%= f.text_area :profile_image %>
  </div>
  
  <div class="field">
    <%= f.label :deal_number %><br />
    <%= f.text_area :deal_number %>
  </div>
  
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.text_area :purchase_date %>
  </div>
  
  <div class="field">
    <%= f.label :expiration_date %><br />
    <%= f.text_area :expiration_date %>
  </div>
  
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_area :value %>
  </div>
  
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_area :discount %>
  </div>
  
  <div class="field">
    <%= f.label :you_save %><br />
    <%= f.text_area :you_save %>
  </div>
  
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
